{% extends "nav-bar.html" %}
{% load static %}
{% block content %}
            <!-- Page Header Start -->
            <div class="page-header">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h2>Our Services</h2>
                        </div>
                        <div class="col-12">
                            <a href="">Home</a>
                            <a href="">Our Services</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Page Header End -->


            <!-- Service Start -->
            <div class="service">
                <div class="container">
                    <div class="section-header text-center">
                        <p>Our Services</p>
                        <h2>We Provide Services</h2>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="service-item">
                                <div class="service-img">
                                    <img src="/static/img/service-2.jpg" alt="Image">
                                    <div class="service-overlay">
                                        <p class='text-white'>
                                        <a href="{% url 'query' %}" class='text-white' >
                                            A residential plot is a piece of land that is zoned for residential use, which means it can be used to build a home or other type of residential property. Residential plots come in different sizes and shapes, and can be found in different locations such as suburbs, cities, or rural areas. Purchasing a residential plot allows a person to build a custom home that meets their unique needs and preferences, and can be a valuable investment for the future. 
                                        </a>
                                        </p>
                                    </div>
                                </div>
                                <div class="service-text">
                                    <h3>Residential Property</h3>
                                    <a class="btn" href="/static/img/service-1.jpg" data-lightbox="service">+</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                            <div class="service-item">
                                <div class="service-img">
                                    <img src="/static/img/service-1.jpg" alt="Image">
                                    <div class="service-overlay">
                                        <p>
                                            <a href="{% url 'query' %}" class='text-white' >
                                            A commercial plot is a piece of land that is zoned for commercial use, which means it can be used for commercial purposes such as office buildings, retail stores, hotels, and other commercial enterprises. Commercial plots can be found in a variety of locations, industrial areas, and other areas that are zoned for commercial use. Purchasing a commercial plot can be a valuable investment, as it allows a business to own property and control their physical location.
                                            </a>
                                        </p>
                                    </div>
                                </div>
                                <div class="service-text">
                                    <h3>Commercial property</h3>
                                    <a class="btn" href="/static/img/service-2.jpg" data-lightbox="service">+</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                            <div class="service-item">
                                <div class="service-img">
                                    <img src="/static/img/service-3.jpg" alt="Image">
                                    <div class="service-overlay">
                                        <h4>
                                         COMING SOON   
                                        </h4>
                                    </div>
                                </div>
                                <div class="service-text">
                                    <h3>Agriculture Property</h3>
                                    <a class="btn" href="/static/img/service-3.jpg" data-lightbox="service">+</a>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <!-- Service End -->
            
            
            <!-- FAQs Start -->
            <div class="faqs">
                <div class="container">
                    <div class="section-header text-center">
                        <p class="text-white">Frequently Asked Question</p>
                        <h2>You May Ask</h2>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div id="accordion-1">
                                <div class="card wow fadeInLeft" data-wow-delay="0.1s">
                                    <div class="card-header">
                                        <a class="card-link collapsed" data-toggle="collapse" href="#collapseOne">
                                           <p> What is the real estate platform?</p>
                                        </a>
                                    </div>
                                    <div id="collapseOne" class="collapse" data-parent="#accordion-1">
                                        <div class="card-body">
                                            The real estate platform is an online marketplace that lists new and running projects for real estate developers and brokers. It helps potential buyers search and compare properties across different locations and property types.
                                        </div>
                                    </div>
                                </div>
                                <div class="card wow fadeInLeft" data-wow-delay="0.2s">
                                    <div class="card-header">
                                        <a class="card-link collapsed" data-toggle="collapse" href="#collapseTwo">
                                           <p> How do I search for properties on the platform?</p>
                                        </a>
                                    </div>
                                    <div id="collapseTwo" class="collapse" data-parent="#accordion-1">
                                        <div class="card-body">
                                            You can use the search function on the platform to search for properties based on location, property type, and other criteria. You can also filter your search results by price, size, and other features.
                                        </div>
                                    </div>
                                </div>
                                <div class="card wow fadeInLeft" data-wow-delay="0.3s">
                                    <div class="card-header">
                                        <a class="card-link collapsed" data-toggle="collapse" href="#collapseThree">
                                           <p> How do I contact a real estate developer or broker about a property I'm interested in? </p>
                                        </a>
                                    </div>
                                    <div id="collapseThree" class="collapse" data-parent="#accordion-1">
                                        <div class="card-body" text-white>
                                            Each property listing on the platform includes contact information for the real estate developer or broker who is responsible for selling the property. You can contact them directly using the provided contact information.
                                        </div>
                                    </div>
                                </div>
                                <div class="card wow fadeInLeft" data-wow-delay="0.4s">
                                    <div class="card-header">
                                        <a class="card-link collapsed" data-toggle="collapse" href="#collapseFour">
                                           <p>How does the platform ensure the accuracy of property listings?</p> 
                                        </a>
                                    </div>
                                    <div id="collapseFour" class="collapse" data-parent="#accordion-1">
                                        <div class="card-body">
                                            The platform requires real estate developers and brokers to provide accurate and up-to-date information about their properties. The platform also uses automated and manual processes to verify the accuracy of property listings.
                                        </div>
                                    </div>
                                </div>
                                <div class="card wow fadeInLeft" data-wow-delay="0.5s">
                                    <div class="card-header">
                                        <a class="card-link collapsed" data-toggle="collapse" href="#collapseFive">
                                           <p>Can I schedule a viewing of a property through the platform?</p> 
                                        </a>
                                    </div>
                                    <div id="collapseFive" class="collapse" data-parent="#accordion-1">
                                        <div class="card-body">
                                            Yes, you can contact the real estate developer or broker responsible for selling the property to schedule a viewing or ask any other questions you may have about the property.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div id="accordion-2">
                                <div class="card wow fadeInRight" data-wow-delay="0.1s">
                                    <div class="card-header">
                                        <a class="card-link collapsed" data-toggle="collapse" href="#collapseSix">
                                           <p> How do I know if a property is available for sale or lease? </p>
                                        </a>
                                    </div>
                                    <div id="collapseSix" class="collapse" data-parent="#accordion-2">
                                        <div class="card-body">
                                            Each property listing on the platform includes information about whether the property is available for sale or lease.
                                        </div>
                                    </div>
                                </div>
                                <div class="card wow fadeInRight" data-wow-delay="0.2s">
                                    <div class="card-header">
                                        <a class="card-link collapsed" data-toggle="collapse" href="#collapseSeven">
                                           <p> Can I find properties in a specific location using the platform? </p>
                                        </a>
                                    </div>
                                    <div id="collapseSeven" class="collapse" data-parent="#accordion-2">
                                        <div class="card-body">
                                            Yes, you can search for properties by location using the search function on the platform.
                                        </div>
                                    </div>
                                </div>
                                <div class="card wow fadeInRight" data-wow-delay="0.3s">
                                    <div class="card-header">
                                        <a class="card-link collapsed" data-toggle="collapse" href="#collapseEight">
                                           <p> Does the platform only list properties from certain real estate developers and brokers?</p>
                                        </a>
                                    </div>
                                    <div id="collapseEight" class="collapse" data-parent="#accordion-2">
                                        <div class="card-body">
                                            No, the platform is open to all real estate developers and brokers who meet our criteria.
                                        </div>
                                    </div>
                                </div>
                                <div class="card wow fadeInRight" data-wow-delay="0.4s">
                                    <div class="card-header">
                                        <a class="card-link collapsed" data-toggle="collapse" href="#collapseNine">
                                           <p> How do I query properties I'm interested in on the platform? </p>
                                        </a>
                                    </div>
                                    <div id="collapseNine" class="collapse" data-parent="#accordion-2">
                                        <div class="card-body">
                                             You can save properties by clicking on the "query here" button on the property listing.
                                        </div>
                                    </div>
                                </div>
                                <div class="card wow fadeInRight" data-wow-delay="0.5s">
                                    <div class="card-header">
                                        <a class="card-link collapsed" data-toggle="collapse" href="#collapseTen">
                                           <p> What types of properties are listed on the platform? </p>
                                        </a>
                                    </div>
                                    <div id="collapseTen" class="collapse" data-parent="#accordion-2">
                                        <div class="card-body">
                                            The platform lists a wide range of properties, including residential, commercial, and land properties.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- FAQs End -->

{% endblock content %}